* {
	padding: 0;
	margin: 0;
}
body {
	background: none repeat scroll 0 0 #FFFFFF;
	font: 100.01% Verdana;
	/* text-align: center; */
	color: #6A6A6A;
}
a, a:link {
	color: #006699;
	outline: medium none;
	text-decoration: none;
}
a:hover {
	color: #FF8C00;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
table tr td, table tr th {
	border: 1px solid #6A6A6A;
	padding: 0;
}

#header {
	margin: 0 auto;
	background: none repeat scroll 0 0 #6A6A6A;
	color: #B9B9B9;
}
#nav {
	background: none repeat scroll 0 0 #6A6A6A;
	border-bottom: 2px solid #FF8C00;
	color: #B9B9B9;
	text-align: left;
}
#nav a, #nav a:link {
	color: #B9B9B9;
}
#nav a:hover {
	color: #FF8C00;
}
#navl {
	float: left;
}
#navr {
	text-align: right;
}
#navc {
	text-align: center;
	font-size: smaller;
}
#usersonline {
	text-align: left;
	font-size: smaller;
}
#main {
	position: absolute;
	left: 180px;
	text-align: left;
	margin: 0 1em 0;
}
#menu {
	position: absolute;
	width: 180px;
	overflow: hidden;
	margin: 2em 0 0;
	text-align: left;
	border-right: 1px solid #FF8C00;
}
#menu ul li {
	list-style: none outside none;
}
#menu ul li ul li {
	padding: 0 0 0 15px;
}
#content {
	margin: 1em 0 0;
}
#footer {
}
hr {
	border: none;
	border-top: 1px solid #FF8C00;
}

.column { 
	width: 200px;
	float:left;
	overflow: hidden;
}
.portlet {
	margin: 0 1em 1em 0;
}
.portlet-header {
	margin: 0.3em;
}
.portlet-header .ui-icon {
	float: right;
}
.portlet-content {
	padding: 0.4em;
}






/* tablesorter */
table {
	/*background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
table thead tr th, table tfoot tr th {
	/*background-color: #e6EEEE;
	border: 1px solid #FFF;*/
	font-size: 8pt;
	padding: 4px;
}
table thead tr .header {
	background-image: url('img/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table tbody tr.odd td {
	background-color:#F0F0F6;
}
table thead tr .headerSortUp {
	background-image: url('img/asc.gif');
}
table thead tr .headerSortDown {
	background-image: url("img/desc.gif");
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
background-color: #8dbdd8;
}
