<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AreaZeusRechner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AreaZeusRechner.Properties.Settings>
            <setting name="KostenAreaArea" serializeAs="String">
                <value>5709</value>
            </setting>
            <setting name="KostenAreaZeus" serializeAs="String">
                <value>14865</value>
            </setting>
            <setting name="KostenAreaGenV2" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="KostenZeusArea" serializeAs="String">
                <value>2519</value>
            </setting>
            <setting name="KostenZeusZeus" serializeAs="String">
                <value>18055</value>
            </setting>
            <setting name="KostenZeusGenV2" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Kosten80OrbArea" serializeAs="String">
                <value>2519</value>
            </setting>
            <setting name="Kosten80OrbZeus" serializeAs="String">
                <value>18055</value>
            </setting>
            <setting name="Kosten80OrbGenV2" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="InitialFP" serializeAs="String">
                <value>9672,48</value>
            </setting>
            <setting name="InitialFe" serializeAs="String">
                <value>21890,88</value>
            </setting>
            <setting name="InitialSt" serializeAs="String">
                <value>20028,75</value>
            </setting>
            <setting name="InitialVV" serializeAs="String">
                <value>5082,00</value>
            </setting>
            <setting name="InitialCh" serializeAs="String">
                <value>17734,13</value>
            </setting>
            <setting name="InitialEi" serializeAs="String">
                <value>630,05</value>
            </setting>
            <setting name="InitialWa" serializeAs="String">
                <value>151,90</value>
            </setting>
            <setting name="InitialEn" serializeAs="String">
                <value>17027,25</value>
            </setting>
            <setting name="BgFe" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="BgSt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgVV" serializeAs="String">
                <value>11,67</value>
            </setting>
            <setting name="BgCh" serializeAs="String">
                <value>49,83</value>
            </setting>
            <setting name="BgEi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgWa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgEn" serializeAs="String">
                <value>-41,25</value>
            </setting>
            <setting name="SimUntil" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="ZeusPlanis" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BgForFe" serializeAs="String">
                <value>-23,33</value>
            </setting>
            <setting name="BgForSt" serializeAs="String">
                <value>11,67</value>
            </setting>
            <setting name="BgVorVV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgForCh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgForEi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgForWa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BgForEn" serializeAs="String">
                <value>-11,67</value>
            </setting>
        </AreaZeusRechner.Properties.Settings>
    </userSettings>
</configuration>